/* src/App.css */
.app-root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 60px;
  width: 100%;

  transform: scale(0.85);
  transform-origin: top center;
}

@media (max-width: 1400px) {
  .app-root {
    transform: scale(1);
  }
}
