/* ===== 진짜 전역 ===== */
html, body {
  margin: 0;
  min-height: 100vh;
}

html {
  font-size: 21px; /* 27인치 기준 SecretBox 최적 */
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f3f4f6;
  color: #213547;
}

#root {
  min-height: 100vh;
}

/* 링크 기본만 */
a {
  text-decoration: none;
  color: inherit;
}
